[2018-04-07 13:52] bobombolo opened #4 "installation, repo for tania-server missing?"
when I run
`go get github.com/Tanibox/tania-server`

I get this:

`#cd .; git clone https://github.com/Tanibox/tania-server /home/me/go/src/github.com/Tanibox/tania-server`
`Cloning into '/home/me/go/src/github.com/Tanibox/tania-server'...`
`remote: Repository not found.`
`fatal: repository 'https://github.com/Tanibox/tania-server/' not found`
`package github.com/Tanibox/tania-server: exit status

[2018-04-07 17:10] lynxluna commented on #4
I've sent PR #5. I hope @adhatama will be able to review and merge soon.

[2018-04-09 13:44] adhatama commented on #4
@lynxluna Thank you for the PR

@bobombolo The PR https://github.com/Tanibox/tania-core/pull/5 has fixed your issue. Please pull the latest commit from `master` branch

[2018-04-10 00:38] bobombolo commented on #4
well i am just following the install instructions:
"Clone the repo using go get github.com/Tanibox/tania-server"
so that should now say
"Clone the repo using go get github.com/Tanibox/tania-core" right?

[2018-04-10 02:03] lynxluna commented on #4
@adhatama yeah we need to find and search for `tania-server` string.
@bobombolo yes that's should be the case.

[2018-04-11 03:14] adhatama commented on #4
@bobombolo After `go get github.com/Tanibox/tania-core`, it should have `tania-core` folder in your `$GOPATH/src/github.com/Tanibox`
Can you make sure of it?

[2018-04-11 11:26] bobombolo commented on #4
yes it's there

[2018-04-11 11:28] bobombolo commented on #4
i deleted that and ran it again, no errors this time related to tania-server,

however there was this warning:

`package context: unrecognized import path "context" (import path does not begin with hostname)`

thanks

[2018-04-11 12:33] bobombolo opened #6 "npm error "node build.js" nodent-runtime"
<pre>
npm ERR! Linux 4.13.0-36-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn

npm ERR! nodent-runtime@3.2.1 install: `node build.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the nodent-runtime@3.2.1 install script 'node build.js'.
npm ERR! Mak

[2018-04-11 20:24] bobombolo commented on #4
probably good to change the readme's installation instructions to reflect this

[2018-04-11 20:24] #4 closed

[2018-04-11 20:43] bobombolo commented on #6
sorry i am totally new to npm, anyway i installed ajv via `npm install ajv` from the project root and reran `npm install` to update ajv from v5 to v6.4
was that the appropriate thing to do? anyway i got the same error, so I think the ajv dependency was a red herring especially since now it is listed in the tree as "extraneous"
however, this time i also noticed at the very top of the output:
<pre>

[2018-04-11 20:49] bobombolo commented on #6
OK turns out in my distro i have to install a package called `nodejs-legacy`, i assumed if npm worked then node would be installed. anyway this can just be a paper trail for others running ubuntu/mint etc.

is there any issue with missing the optional dependency `fsevents`?

[2018-04-11 23:28] #6 closed

[2018-04-11 23:37] bobombolo opened #7 "nmp run dev fails re: webpack.js"
OK, so now on the step of `npm run dev` in the install process and have hit this error:

<pre>
npm run dev

/home/me/go/src/github.com/Tanibox/tania-core/node_modules/laravel-mix/setup/webpack.config.js:24
let WebpackConfig = require('../src/builder/WebpackConfig');
^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInT

[2018-04-12 02:37] adhatama commented on #7
@bobombolo Hi. It looks like your node version is outdated. Yours still node v4.2.6.
Can you update your node version to at least the LTS version, which is v.8.11.x, and please run `npm install` and `npm run dev` again?

[2018-04-12 02:39] bobombolo commented on #7
so i have to go outside my distro's package version?

[2018-04-12 02:44] adhatama commented on #7
@bobombolo You can use [nvm](https://github.com/creationix/nvm) to easily switch your node version

[2018-04-12 11:46] bobombolo commented on #7
for the benefit of other ubuntu / mint users following my progress, i opted for this method:
`curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -`
`sudo apt-get install -y nodejs`
but first i removed that `nodejs-legacy` package

anyway i reran `npm install` and it went way faster and with less verbose output but fyi still got the warnings about missing peer dependency `ajv` and missing

[2018-04-12 12:46] bobombolo opened #8 ""context" package -- import paths"
when I run `go get github.com/Tanibox/tania-core` i get the following output:

`package context: unrecognized import path "context" (import path does not begin with hostname)`

this later comes back to haunt me when I complete all the other installation steps without errors and try to start the go server i get this error:

<pre>
go run main.go
vendor/golang.org/x/crypto/acme/autocert/autocert.go:1

[2018-04-12 20:06] TheG3ntl3man opened #9 "Default User and Password"
When I try to log in with

username: tania
password: tania

It gives me an error "Incorrect user/password"

@adhatama @kerwinjorbina @gkgranada @purwandi

[2018-04-13 01:47] bepitulaz commented on #9
Hello @TheG3ntl3man

Try to change `upload_path_area`, `upload_path_crop`, and `sqlite_path` in your `conf.json` file like mine.

[code]

I made a PR for this issue https://github.com/Tanibox/tania-core/pull/10

https://github.com/Tanibox/tania-core/pull/10

[2018-04-13 02:28] TheG3ntl3man commented on #9
Still not working, this is what is shown when trying to log in

{"time":"2018-04-13T02:21:31.008361772Z","id":"","remote_ip":"xxx.xxx.xxx.xx","host":"xxx.xxx.xx.xxx:8080","method":"POST","uri":"/api/authorize","status":302, "latency":95799496,"latency_human":"95.799496ms","bytes_in":162,"bytes_out":0}
{"time":"2018-04-13T02:22:08.409318822Z","level":"ERROR","prefix":"echo","file":"echo.go","line":

[2018-04-13 02:52] kerwinjorbina commented on #9
@TheG3ntl3man Can you try to remove the tania.db file?

Last time I worked on this, the sqlite file is automatically created. So, when you run the application for the first time, it automatically creates the tania.db file with the default user.

[2018-04-13 03:04] adhatama commented on #9
@TheG3ntl3man Did you use custom hostname (not localhost) for your Go server hostname?
Because it can affect the OAuth Redirect URI that already set in your conf.json.

[2018-04-13 05:44] chrigui commented on #9
Hi,
Its great to see the go migration is going well.
I am having the same issue... I cannot login.
Http://206.189.17.236:8080

[2018-04-13 06:43] adhatama commented on #9
@chrigui Hi,
I think it's because you use hostname other than `localhost`.
In the `conf.json`, there is `redirect_uri` that is used for auth to be worked. You need to adjust that to your hostname.
But we still had an issue in the frontend because the redirect URI is still hardcoded to `http://localhost:8080/`.

So there are two solution for this:
1. Change your hostname to `localhost`, or
2. Chang

[2018-04-13 08:05] chrigui commented on #9
Option 2 Worked, thank you @adhatama.

[2018-04-13 12:18] bobombolo opened #12 "paths to db in conf.json"
i installed a newer version of golang via a PPA which broke `go get` in several ways, so i cloned the project manually, ran `npm install` successfully after editing the `conf.json` file (which by the way needs to replace the tania-server references with tania-core) but when i try to run `go run main.go` i get this error:

<pre>
2018/04/13 08:14:02 Using 'conf.json' configuration
2018/04/13 08:14:0

[2018-04-13 12:33] adhatama commented on #12
@bobombolo From what we can saw in your log, your path in your `conf.json` still refers to `.../Tanibox/tania-server/...` instead of `tania-core`.
Then the `unable to open database file` error message indicates that you have a problem in your sqlite file. It could be missing because of wrong path or permission problem.

[2018-04-13 12:40] bobombolo commented on #12
but this is my conf file:
<pre>
{
    "tania_persistence_engine": "sqlite",
    "demo_mode": true,
    "upload_path_area": "/home/me/go/src/github.com/Tanibox/tania-core/uploads/areas",
    "upload_path_crop": "/home/me/go/src/github.com/Tanibox/tania-core/uploads/crops",
    "sqlite_path": "/home/me/go/src/github.com/Tanibox/tania-core/db/sqlite/tania.db",
    "mysql_host": "127.0.0.1",
    "mysq

[2018-04-13 19:44] #12 closed

[2018-04-13 19:46] #8 closed

[2018-04-13 19:50] bobombolo opened #13 "http server started but in the browser there is an error "message "Not Found"""
![screenshot from 2018-04-13 15-49-34](https://user-images.githubusercontent.com/25610408/38755082-6aa9f64e-3f32-11e8-89cb-3dfd1aec324f.png)

[2018-04-13 20:04] bobombolo commented on #13
looks like there is an error when requesting the "/" uri as well as favicon.ico

<pre>
~/go/src/github.com/Tanibox/tania-core $ go run main.go
2018/04/13 15:44:25 Using 'conf.json' configuration
2018/04/13 15:44:25 Using sqlite persistance engine
2018/04/13 15:44:25 Creating database file /home/danjor/go/src/github.com/Tanibox/tania-core/db/sqlite/tania.db
2018/04/13 15:44:25 Using SQLite at /home

[2018-04-14 07:09] bepitulaz commented on #13
Hello @bobombolo. I've made a new release with pre-built binaries for Linux and Windows. You can try it https://github.com/Tanibox/tania-core/releases/tag/1.5.1 and let us know whether it's work for you or not.

[2018-04-14 14:35] bobombolo commented on #13
yes that works! thanks.

[2018-04-14 14:35] #13 closed

[2018-04-14 14:53] bobombolo opened #14 "instructions, how to add livestock, employees, etc"
In the menu I only have options to add Materials, Tasks and in Production I can only add Areas, Crops and Reservoirs. Also where could I edit the farm properties such as longitude/latitude after creating the farm? Also why does an Area have to be associated with a Reservoir (we do not irrigate our fields)?

here is a screenshot of what I see:

![screenshot from 2018-04-14 10-49-11](https://user-im

[2018-04-14 14:55] bobombolo commented on #14
Also what are the consequences of the Farm Type? If I say "Livestock" then am I going to be limited to certain functions? Also where can I add a new farm? I see the option to "switch farm" but not one to create farm.

[2018-04-21 04:10] hitechredneck commented on #9
I get the same issue with both (windows and linux) 1.5.1 prebuilt builds.

[2018-04-21 08:11] ech0r opened #15 "Can't log in with default username & password"
Hello, I've followed the installation steps exactly.

When I try the default user/pass of tania/tania, I cannot log in.

I've checked the database file, tania.db and it shows the default user account is in there.
It seems for some reason the login page is unable to read that file?

Any help would be much appreciated.

My conf.json looks like this:

    "tania_persistence_engine": "sqlite",
    "de

[2018-04-23 06:29] adhatama commented on #15
@ech0r Did you use custom Go port instead of the default `:8080`?

[2018-04-23 15:14] ech0r commented on #15
I was using port 8080, is there another port I should be using?

Thanks for replying :)

[2018-04-23 15:43] adhatama commented on #15
@ech0r No. It should be good.
And did you use `localhost` for the hostname too?
If yes, then I don't have a clue why it didn't work on your machine.
Can you please give us a log from the browser console and the response when calling `http://yourhostname:8080/api/authorize`?
If you are not using `localhost` for your hostname, you need to change your `conf.json` in `"redirect_uri": "http://localhost

[2018-04-24 02:41] ech0r commented on #15
I get the following response when visiting http://localhost:8080/api/authorize

{"message":"Method Not Allowed"}

[2018-04-24 03:06] adhatama commented on #15
@ech0r Sorry, I mean that can you check out from your browser network what is the response of http://localhost:8080/api/authorize when you're doing login?
When doing login, the frontend will request to http://localhost:8080/api/authorize so we could know what actually happened when login by looking at the response from that request.

[2018-04-24 04:05] ech0r commented on #15
When I try to login I see a POST request to http://localhost/api/authorize

Then below that I get OPTIONS with http://localhost:8080/?access_token=63592b30-498d-4b60-b563-561d5bc33ff1&state=random-string&expires_in=0

I'm running Tania inside of a Docker container with port 80 mapped to 8080 on the tania container.

So to access the web app I just go to http://localhost

![image](https://user-imag

[2018-04-24 06:16] adhatama commented on #15
@ech0r Thanks for the report.
Can you please change your `"redirect_uri": "http://localhost:8080/"` to `"redirect_uri": "http://localhost/"` in your `conf.json`? Because your web apps is using `localhost` without port so after login, then it will be redirected to that redirect url.

[2018-05-03 22:03] andrewlytvyn opened #16 "Localization"
can i translate or add some ui language?)
my language is Ukrain

[2018-05-03 23:32] bepitulaz commented on #16
Of course, you can. Thank you :)

On Fri, 4 May 2018, 06:03 andrewlytvyn, <notifications@github.com> wrote:

[2018-05-07 09:17] andrewlytvyn commented on #16
vue-i18n?

[2018-06-03 12:07] fkornel commented on #16
I'm also interested in doing localization to Hungarian.
There will be new commits to tania-core or it is EOL already?

[2018-06-03 12:08] fkornel commented on #14
I'm also interested.

[2018-06-03 15:03] bepitulaz commented on #16
There will be a new commit. This version is maintained, but since we are
still a small team (3 developers) and have other commercial projects, so
the update need a long time.

We will share the roadmap for this oss version very soon.

On Sun, 3 Jun 2018, 20:07 fkornel, <notifications@github.com> wrote:

[2018-06-03 19:07] fkornel commented on #16
Thanks @bepitulaz for the prompt response!

[2018-06-30 16:11] bepitulaz commented on #15
I think this issue had been solved.

[2018-06-30 16:11] #15 closed

[2018-06-30 16:22] bepitulaz opened #17 "Database file is overwritten after server restart"
My steps when I got the bug:

1. Built a binary from the source.
2. Ran the binary as usual. I ran `./tania-core &`. Then I filled Tania with data.
3. Killed the pid.
4. Changed `redirect_uri` in `conf.json` to another hostname.
5. Ran the binary again with `./tania-core &`.

Voiilaaa...the entire data was wiped out. I had to start from a clean slate again 😌

[2018-07-01 00:36] adhatama commented on #17
@bepitulaz Can you give me your `conf.json` values?

[2018-07-01 12:49] bepitulaz commented on #17
[code]

[2018-07-02 00:13] adhatama commented on #17
@bepitulaz If I saw your steps, you need to rebuild the frontend with `npm run dev` because you've changed the `conf.json`. The frontend reads the the `conf.json` when built.
But I'm not sure if that was the source of why the database was wiped.

[2018-07-02 00:19] bepitulaz commented on #17
@adhatama no, the culprit is not on the frontend. I suspect somewhere on
the `main.go`. Of course, I changed the `redirect_uri` on the frontend by
using `sed` tool.

I made a shell script to automate the installation without rebuild the
front-end.

On Mon, 2 Jul 2018, 08:13 Adhatama, <notifications@github.com> wrote:

[2018-07-08 01:47] pljoel commented on #9
+1 I also get the same issue on linux for 1.5.1 prebuilt build.

[2018-07-08 13:22] adhatama commented on #9
It looks like the prebuilt cannot find the `conf.json` because the frontend's prebuilt path is different from the repository.
We are working on this.
In the meantime, we can still use the manual build from the README.md

[2018-08-03 20:00] prasmalla opened #21 "Cannot add tasks"
hi, im using mysql for db and the app crashes when adding task

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x9ec96a]

goroutine 849 [running]:
github.com/Tanibox/tania-core/src/tasks/repository/mysql.(*TaskReadRepositoryMysql).Save.func1(0xc4201340c0, 0xc42000e770, 0xc420076480)
        /root/go/src/github.co

[2018-08-04 16:15] prasmalla commented on #14
you can add a new farm here http://localhost:8080/#/intro/farm
+1 for documentation and i can help with that

[2018-08-05 10:44] bepitulaz commented on #14
@prasmalla woah, it will be helpful. I think you can create a directory and put the documentation in markdown format, then PR it.

[2018-08-06 00:50] adhatama commented on #21
@prasmalla Thanks for the report.
This is confirmed bug. We are working on it.

[2018-08-06 01:26] #9 closed

[2018-08-06 10:15] lynxluna commented on #21
@adhatama is the bug is confirmed as fixed. If so, please close this issue.

[2018-08-06 13:26] #21 closed

[2018-08-07 17:47] prasmalla opened #23 "cannot login with mobile devices"
hi, using default username/password says incorrect login on mobile devices (ipad / android) works on iphone

INFO[0034] Response Info                                 host="aquaponicsnepal.com:4200" ip=207.237.24.213 method=POST request_id=ziFszEuojQibFgtol63kHd0pFLpmBDjA roundtrip=70129 roundtrip_human=70.129847ms status=302 uri=/api/authorize user_agent="Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac O

[2018-08-12 19:16] chrigui opened #24 "Create Farm Country Select Bug"
Country list Empty only when adding a 2nd Farm.
<img width="957" alt="screen shot 2018-08-12 at 22 14 59" src="https://user-images.githubusercontent.com/1286895/44005515-57724ca2-9e7d-11e8-8a8b-ba96472e1269.png">

[2018-08-14 07:06] adhatama commented on #24
@chrigui How did you create the second farm? Because we don't have a feature to create the second farm for now.

[2018-08-14 07:12] adhatama commented on #23
@prasmalla Have you checked your `redirect_uri` in your `conf.json` for `aquaponicsnepal.com:4200`?
For example, if you had multiple host, then you need to add all of them:
[code]

Please update to the latest commits from branch `master` for the multiple `redirect_uri` supports

[2018-08-14 07:16] adhatama commented on #17
Closed because cannot be reproduced

[2018-08-14 07:16] #17 closed

[2018-08-14 07:47] chrigui commented on #24
@adhatama i followed issue #14 /farms/cretate i though the feature is there :)

thank you.

[2018-08-14 07:47] #24 closed

[2018-08-25 11:25] lynxluna commented on #23
Does this fix your problem @prasmalla ?

[2018-08-29 03:53] prasmalla commented on #23
@adhatama i have a single host for redirect_uri
@lynxluna phones work ok. guess it is just an ipad issue

[2018-08-30 09:10] lynxluna commented on #23
I'll close this issue then.

[2018-08-30 09:10] #23 closed

[2019-01-10 12:59] sarzali07 opened #26 "How to install on XAMPP"
Hi

How to install tania-core or simple tania (https://github.com/Tanibox/tania) install on localhost xampp.

[2019-01-18 05:49] bepitulaz commented on #26
Hi @sarzali07,

To install `tania-core` you just need to follow the guide on the `README`. It will compile Tania into an executable binary, you don't need XAMPP to run it. Just execute the binary from Windows command prompt (`.\tania-core.exe`) or UNIX terminal (`./tania-core`).

Thanks,

[2019-01-18 06:50] sarzali07 commented on #26
Hi @bepitulaz

Thanks for your clear instruction, Finally I install it via commad prompt.

{
    "tania_persistence_engine": "sqlite",
    "demo_mode": true,
    "upload_path_area": "uploads/areas",
    "upload_path_crop": "uploads/crops",
    "sqlite_path": "db/sqlite/tania.db",
    "mysql_host": "127.0.0.1",
    "mysql_port": "3306",
    "mysql_dbname": "agrifarm",
    "mysql_user": "root",

[2019-01-18 07:50] bepitulaz commented on #26
Because the default configuration is using SQLite, you can change it to MySQL on the `tania_persistance_engine` field.

[code]

[2019-01-19 02:14] #16 closed

[2019-01-21 12:47] bepitulaz opened #33 "[Upgrading Issue] Can someone help me to look the error in Webpack?"
Before adding more features for the next version, I update all JS dependencies. I upgraded Babel 7, Vue 2, and Webpack 4. But, I don't understand why Webpack always fails to build the source code. Can someone help me? This is my PR https://github.com/Tanibox/tania-core/pull/32

I'm not good at doing front-end.

[2019-01-21 16:58] resir014 commented on #33
After a couple hours of wrestling with Laravel Mix, I think I got it to work.

Still need to test locally though, I'm not good at backend stuff, so I don't know how to get Golang to work locally 😅

![image](https://user-images.githubusercontent.com/5663877/51488550-69ff6f00-1dd8-11e9-9c60-a2aaf9154eb9.png)

[2019-01-21 17:06] resir014 commented on #33
One minor issue that I still have is this double-slash in the injected HTML. Still investigating.

<img width="818" alt="screen shot 2019-01-22 at 00 03 03" src="https://user-images.githubusercontent.com/5663877/51488955-8059fa80-1dd9-11e9-8029-b0e216b2f921.png">

[2019-01-22 00:59] bepitulaz commented on #33
Thank you, @resir014. I will test your works on my laptop. Hopefully, it can be built now.

[2019-01-22 03:50] resir014 commented on #33
Slowly getting there...

Now I'm having issues loading dynamic components. Right now I'm trying to tear away the loaders and re-including them one by one. Hopefully it'll work.

![image](https://user-images.githubusercontent.com/5663877/51511341-7fee4d80-1e33-11e9-80f8-679f63dfbf00.png)

[2019-01-22 04:20] bepitulaz commented on #33
@resir014 I've tested locally. It compiled successfully, but I notice there's still an error related to `pug-loader`.

![image](https://user-images.githubusercontent.com/313962/51512217-e24d4b00-1e3f-11e9-94cc-3e25cde56369.png)

You can reproduce it by running `yarn run unit` or `npm run unit`. The template is also not rendered on the browser.

![image](https://user-images.githubusercontent.com/31

[2019-01-22 12:34] bepitulaz commented on #33
I'm fetching your update. How to reproduce the package import issue?

[2019-01-22 12:41] bepitulaz commented on #33
Ok, I got that error too. `yarn run unit` and `yarn run dev` is successfully executed.

[2019-01-22 14:51] resir014 commented on #33
@bepitulaz Yeah, that's what I'm still struggling with.

I just got home so I could only respond to your message now, but all I did was running `yarn unit`, `yarn dev`, then testing it inside the Go app with `go build` and running the compiled binary.

[2019-01-24 02:46] bepitulaz commented on #33
@resir014, since our main issue to upgrade dependencies, is solved. I think better if I disable the Vue lazy load for this moment. Because we also want to modify and add some features to the Vue template itself.

It works after I disable it. I will merge your PR ;)

![image](https://user-images.githubusercontent.com/313962/51650977-36ce0300-1fc5-11e9-9ed0-909c4bb7226b.png)

[2019-01-24 02:47] resir014 commented on #33
@bepitulaz Awesome. Thanks for your help!

[2019-01-24 02:48] bepitulaz commented on #33
@resir014 Big thanks for you! Awesome works!

[2019-01-24 06:57] #33 closed

[2019-02-01 16:17] bepitulaz opened #39 "Containerise Tania with Docker"
To make Tania easier to install, it will be better if we can containerise Tania. Hence, the user can install it with less hassle on the various device that supports Docker. Please, help me to do that. Thank you.

Note: Put the `dockerfile` on the master branch. The `2.0.0-dev` branch will follow it.

[2019-03-01 05:37] sturza opened #42 "demo does not work"

[2019-03-01 05:45] bepitulaz commented on #42
Hi @sturza, I am preparing a new way for the demo. I'm making a pre-built binary so that user can easily run it on their laptop/pc/server.

[2019-03-01 05:45] sturza commented on #42
what about for people on your website?

[2019-03-01 05:48] bepitulaz commented on #42
The demo website? No worries, the data there is always constantly reset. It's just a demo. We don't provide a SaaS solution yet.

[2019-03-01 05:48] sturza commented on #42
no, i mean it does not work. it shows a white page and some errors in the console

[2019-03-01 05:52] bepitulaz commented on #42
This website https://demo-tania.tanibox.com? Yes, I put the service off because I will provide the pre-built binaries for Windows, Linux, and MacOS. I'll update the readme soon.

[2019-03-01 05:53] sturza commented on #42
got it. thanks

[2019-03-01 05:53] #42 closed

[2019-03-14 06:50] hbakhtiyor commented on #39
any reasons why need docker? since there are no any dependencies and it's single executable file already

[2019-03-14 07:06] bepitulaz commented on #39
The consideration is for users that want try to install Tania on the machine that supports Docker but we don't provide the binary for that architecture such as ARM-based network attached storage, Raspberry Pi, etc. Then the user can build the source from the Docker container and run it easily.

Do you have any suggestion?

[2019-03-14 09:45] hbakhtiyor commented on #39
what do you think about https://github.com/goreleaser/goreleaser

[2019-03-14 12:28] bepitulaz commented on #39
Wow, I just know it. Thank you. It seems perfect. I'll try it.

[2019-03-20 14:33] bepitulaz commented on #14
Hi everyone, you can see the documentation on our new website http://usetania.org/docs/

Thanks to @yuulye who remind me about this issue. Now, I close this issue.

[2019-03-20 14:33] #14 closed

[2019-03-20 14:35] bepitulaz commented on #39
I close this issue. Let us go to the Tania v2.0 development first, then we can decide between Docker or Goreleaser.

[2019-03-20 14:35] #39 closed

[2019-04-02 19:02] joelschutz opened #51 "Problem with Installation"
I am currently working on a localization for pt_BR, but unfortunately I can't install the software in my machine(MacOS). I tried running ubuntu in a virtual machine, but every time I try to run the program it "permission denied" error.  Not even in root it works.

Any suggestions?

[2019-04-02 21:36] joelschutz commented on #51
Tried with different distros and different versions, same issue. Maybe some problem with VMs, trying next in my RPi. Lets see how it goes.

[2019-04-02 21:54] joelschutz commented on #51
No lucky either. Gonna try the rabbit hole of compiling it to macOS luck pls.

[2019-04-02 23:49] joelschutz commented on #51
I have managed to compile it to my computer, it was fairly easy with the instructions.
Will leave the open, I want to understand what is going on with the pre-compiled files.

[2019-04-03 08:44] bepitulaz commented on #51
I tried to fresh clone the repo and do the fresh built in Ubuntu WSL, everything seems ok.

Anyway, I compiled Tania for Linux 64bit in my Windows 10 laptop that running Ubuntu WSL. I didn't test to run the binary in stand-alone Ubuntu OS. Maybe that relates to your problem.

[2019-04-04 02:56] gabeguz opened #54 "Can't add new areas, crops, resevoirs, tasks."
Hello, after a fresh install of tania-core I'm unable to add anything via the UI.  The initial add allows me to add a single Area, and a resevoir, but after that, any "Add" button I click on seems to do nothing, though I do see requests in the dev tools that look like this whenever I click Add x.  For Example, on the Areas, page if I click the "Add Area" button, this is the request I see:

[code]

[2019-04-04 03:00] gabeguz commented on #54
I recognize that go 1.12 isn't ofificially supported, but I had this same issue when I was on 1.11.  I can revert back to go 1.11 if it will be useful for debugging.

[2019-04-04 03:04] bepitulaz commented on #54
Yes, I've not tested it yet with Go 1.12. How is your `conf.json` looks like? Are you still using the 1.5 `conf.json` or following the 1.6 configurations?

[2019-04-04 03:31] bepitulaz opened #55 "Go 1.12 and Update Go Dependencies"
I got a report from someone that tried to install Tania on Raspberry Pi about broken dependency. As we know, `dep` tool doesn't have support yet for the ARM architecture so that the only way to get the dependency is by using `go get`. But, `go get` always blindly fetch the new version of libraries that can break the system.

A problem arose from Labstack Echo: `cannot find package github.com/labst

[2019-04-04 03:41] gabeguz commented on #54
[code]

[2019-04-04 03:48] bepitulaz commented on #54
I think the problem comes from the `sqlite_path`. You can try to use relative path just like in `conf.json.example`.

[2019-04-04 06:23] bepitulaz commented on #55
I discovered the problem. Labstack is using `gomodules` in version 4, and `dep` can't support it. So, the solution to keep Tania up to date is moving completely to `gomodules`. Therefore, I created a new development branch for it: https://github.com/Tanibox/tania-core/tree/1.7.0

I will keep this issue open, so others who get the same problem can read the explanation here.

[2019-04-04 09:12] bepitulaz commented on #54
Hi @gabeguz, can you try to build this new branch? https://github.com/Tanibox/tania-core/tree/1.7.0

I've tested in Go 1.12 and this is the related issue https://github.com/Tanibox/tania-core/issues/55.

[2019-04-04 09:14] bepitulaz commented on #55
To use the 1.7 branch you just need to use `go get` instead of `dep ensure`.

[2019-04-04 12:51] gabeguz commented on #54
Sweet, it was the DB path!  Thanks for the pointer!  Working now.  I'll try building the new branch as well, and report back.

[2019-04-04 13:25] gabeguz commented on #54
Build the 1.7.0 branch just fine, and it's still working there as well.

[code]

[2019-04-04 13:25] #54 closed

[2019-04-04 22:06] joelschutz opened #57 "Localization incomplete"
Some of the terms in the UI are not included in the .POT file or have some issues. Here goes a list.

- http://127.0.0.1:8080/#/intro/farm

1. "Hello! Can you tell me a little <br> about your farm?" -- It is on the file, but there is a <br> in the middle of the sentence. In the page it breaks after "little"
2. The options for Farm Type -- The black statement "Select Type" is ok, but the options ar

[2019-05-09 14:54] poVoq opened #63 "MQTT gateway plans?"
This seems like a really cool project!

I read on the road map that you are planning to add MQTT broker functionality or at least an interface to it?

Have you considered using Ejabberd for it? They recently added MQTT broker functionality to what is otherwise a really stable and scaleable XMPP server. It is also really low resource and runs without issues on a RasberryPI or similar.
See: https://

[2019-05-09 14:57] poVoq commented on #63
Also see https://github.com/FluuxIO/mqtt
Which is from the same creators as Ejabberd.

[2019-05-10 14:16] bepitulaz commented on #63
Hi @poVoq, thank you for recommending it. I will take a look at it because we still don't decide yet how we will integrate Tania to MQTT.

[2019-06-05 08:54] #55 closed

[2019-06-05 09:15] bepitulaz opened #65 "The short survey to improve Tania"
Hi, GitHub community,

We are constantly improving Tania, the farm management software. We would like to hear from you the software developer and the farmer (some software developers are farmers too.) We invite you to participate in this short survey to help us create the best software to help farmers manage their farm business better. https://forms.gle/ShDVZm9FijMiM5KMA

Thank you,
Tanibox team

[2019-06-26 19:23] prasmalla commented on #65
to further answer the platform question in the survey, i think it should be for all platforms) using [electron](https://github.com/electron/electron)

[2019-07-15 04:08] bepitulaz opened #67 "Make `Reservoir` optional from `Area` domain."
In the current version of Tania, users must have a reservoir to create an area. This will become a problem for users who take their irrigation from unmeasurable (difficult to measure) sources such as a dam, tap water, and well.

You can start the enhancement from `Area` domain https://github.com/Tanibox/tania-core/blob/master/src/assets/domain/area.go

[2019-07-15 04:25] bepitulaz opened #68 "Move the map and its attributes from the `Farm` domain to the `Area` domain."
The first time users use Tania, they must choose their farm location by clicking on the map. We realize that this feature is useless for the farm level.

It's better to move the map to the area level so that users can draw a geoJSON polygon to the map for each area. If users have the geoJSON data of each area, they can integrate it with other 3rd party services such as plant health analysis servic

[2019-07-15 04:41] bepitulaz commented on #65
Hi @prasmalla,

I don't have any experience with Golang and Electron. What I only know is we can write a desktop app with Electron in JS. Absolutely, Vue.js can be wrapped into an Electron app, but what about the Golang server?

[2019-07-16 12:43] showcheap opened #70 "Missing tab styling on Crop Detail"
I think this page is missing styling on tab navigation,
![Screenshot from 2019-07-16 19-37-03](https://user-images.githubusercontent.com/1310895/61294937-20309800-a801-11e9-93e9-dfc06310ed54.png)
Also after **Tegalan** text, it's contain dot (default html `<li>` style)

Expected style to be like this
![Screenshot from 2019-07-16 19-39-16](https://user-images.githubusercontent.com/1310895/61295068-

[2019-07-16 17:36] bepitulaz commented on #70
Yes, you are right. It supposed to be like in the Crops page. Can you try to fix it?

[2019-07-17 05:27] #70 closed

[2019-08-16 18:09] grojas7 opened #74 "Can't build from source: cannot find package "github.com/labstack/echo/v4""
Hi, I'm trying to build Tania from source using the build instructions on the README.md but after typing ``go get`` I get the following error:

[code]

**Machine**
``Linux chbk-gllm-6p 4.16.18-galliumos #1 SMP PREEMPT Sun Jun 23 04:14:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux``
**Go Version**
``go version go1.10.4 linux/amd64``

[2019-08-17 05:10] bepitulaz commented on #74
Hello @grojas7. Tania is using Go module. It's the official way for dependency management in the latest Go version. So, you can upgrade your Go from 1.10 to 1.12. Go module was supported since 1.11. Thanks.

[2019-08-18 17:39] grojas7 commented on #74
**It worked!** Thanks for the help. (Didn't double check the requirements against my setup, my bad)

[2019-08-18 17:39] #74 closed

[2019-08-25 23:49] boilermanc opened #75 "package github.com/labstack/echo/v4: cannot find package "github.com/labstack/echo/v4" in any of:"
Hi all, trying to build this and just having a devil of time. Almost there but now have this error when I run

`> @ dev /var/www/vhosts/sweetwaterurbanfarms.com/farm.sweetwaterurbanfarms.com

/var/www/vhosts/sweetwaterurbanfarms.com/farm.sweetwaterurbanfarms.com/node_modules/webpack/bin/webpack.js:90
        let notify =
        ^^^

SyntaxError: Block-scoped declarations (let, const, function, cl

[2019-08-25 23:50] #75 closed

[2019-08-25 23:50] boilermanc commented on #75
Sorry all, didnt mean to post that....

[2019-08-26 01:58] boilermanc opened #76 "PDOException:"
So close...

Took a good while to get the environment setup and running but go there! But now I am having a connection issue I cannot resolve.

this worked fine:

`root@localhost:/var/www/vhosts/sweetwaterurbanfarms.com/farm.sweetwaterurbanfarms.com# ./tania-core
INFO[0000] Using config file at /var/www/vhosts/sweetwaterurbanfarms.com/farm.sweetwaterurbanfarms.com/conf.json
INFO[0000] Using mysql

[2019-08-26 12:02] boilermanc opened #77 "403 Error"
Decided to try to build again. Server started just fine.

root@localhost:/var/www/vhosts/sweetwaterurbanfarms.com/farm.sweetwaterurbanfarms.com# ./tania-core
INFO[0000] Using config file at /var/www/vhosts/sweetwaterurbanfarms.com/farm.sweetwaterurbanfarms.com/conf.json
INFO[0000] Using mysql persistance engine
INFO[0000] Using MySQL at 127.0.0.1:3306/tania
INFO[0000] DDL file executed
INFO[0000]

[2019-08-26 18:44] boilermanc opened #78 "GLIBC_2.28' not found"
Trying run the build for tania-v1.7-linux. When I do, I get the following error. As far as I can tell that is not something that is easy to fix on a system. I have tried the update commands but they do not update my version.

`./tania-core: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by ./tania-core)`

[2019-08-27 03:03] bepitulaz commented on #78
If you are in any Debian distros, try to install it with `apt-get install build-essential`. It seems your OS doesn't have the `libc` installed.

[2019-08-27 03:04] bepitulaz commented on #77
May I see your `config.json`?

[2019-08-27 03:06] bepitulaz commented on #76
I'm not sure about this issue because we don't use PHP.

[2019-09-30 11:40] #76 closed

[2019-09-30 11:40] #78 closed

[2019-09-30 11:54] bepitulaz opened #89 "Export all data from SQL to CSV."
Create a new menu to export all data from the SQL database to CSV, so that users can import that data to other software easily.

[2019-10-05 19:43] boilermanc opened #90 "Raspian Install issue"
Trying to install on raspian. I downloaded and untared the linux build. This is the error:

`pi@raspberrypi:/var/www $ ./tania-core
-bash: ./tania-core: cannot execute binary file: Exec format error
pi@raspberrypi:/var/www $ sudo ./tania-core
./tania-core: 1: ./tania-core:ELF: not found
./tania-core: 5: ./tania-core: Syntax error: word unexpected (expecting ")")

`

Thanks!

[2019-10-06 03:50] bepitulaz commented on #90
The Linux pre-built binary is for amd64/x86 processor. Raspberry is using an ARM processor.

I can add the binary for Raspberry later next week. Meanwhile, if you don't want to wait, you can download the source code to your Raspberry, and build directly inside it.

[2019-10-06 11:32] boilermanc commented on #90
Hi Asep! A build for the pi would be awesome. Let me know when it is up and i will give it a go!

thanks!

[2019-10-06 13:50] bepitulaz opened #91 "Restructuring the project repository for better separation of concern."
I'm going to restructure the project repository and make the source code clearer. My plan is making the directory structure looks like this:

[code]
I hope this structure can help other contributors navigate and explore this project clearer than before. Furthermore, to make extending Tania's feature easier.

[2019-10-14 10:38] bepitulaz commented on #90
@boilermanc hi, you can download the ARM version here https://drive.google.com/open?id=1813snCSe2x8vrOL9vnd1Jg7WeTal0w29

[2019-10-14 13:07] boilermanc commented on #90
That's awesome! I am traveling this week but will test it next week!

⁣Sent from BlueMail ​

On Oct 14, 2019, 6:38 AM, at 6:38 AM, Asep Bagja Priandana <notifications@github.com> wrote:

[2019-10-21 19:09] drwm-base commented on #89
Can I work on this issue?

[2019-10-22 04:31] bepitulaz commented on #89
@drwm-base Yes, you can. Please, move the card to in progress and assign yourself. Thank you.

[2019-10-26 15:30] drwm-base commented on #89
Hey @bepitulaz, I can't move the card to in progress or assign myself. Do you need to add me to the community or am I missing something?

[2019-10-26 15:34] bepitulaz commented on #89
@drwm-base ok, I've assigned it to you.

[2019-11-03 14:43] bepitulaz opened #94 "Creating the installation system to setup username, password, and database engine."
When users download and running the executable file of Tania, they will have a default username `tania` and the default password `tania`. This is not good. Ideally, users can define their desired username and password since the beginning.

It will be better if users can set up his database engine easier from a web GUI instead of a JSON file.

[2019-12-21 21:42] Citrullin opened #98 "Confusing error message for selected date before current"
How to reproduce:
1. Create a task with some title.
2. Select a date which is before the current one.
3. Add description
4. Click on save

Actual behavior:
Error message in frontend: "Error in task submission". Error in terminal: "Task due date cannot be earlier than the current date."

Expected behavior:
Error message in frontend: "Task due date cannot be earlier than the current date.". Error in

[2019-12-22 13:43] bepitulaz commented on #98
Thanks for noticing this one @Citrullin. I'll release a hotfix for this one.

[2019-12-24 15:17] #90 closed

[2019-12-24 15:23] #77 closed

[2020-01-19 00:23] Citrullin commented on #98
@bepitulaz I added a comment to your commit. https://github.com/Tanibox/tania-core/commit/966c9e62024c994a72a45961d43139fb875179f6

[2020-03-29 09:43] gucharbon commented on #39
Sorry to comment on this closed issue, but I wanted to add my two cents as someone who is neither a javascript developer nor a go developer.

Your Readme convinced me to try out your software :) But then I found out that I needed to:

- Visit your website
- Subscribe to a newsletter
- Visit my mail box
- Visit your Google Drive account :open_mouth: ?
- Download the binary from your Google Drive ac

[2020-04-03 15:37] Penguinjanator opened #103 "USD currency code instead of EUR"
The only specific changes made to the src code were done to all instances of &euro; to &dollar;
so that forms would display $. This change works fine.
The problem is after submission the SQL database still shows EUR.
so i made a change to resources/js/stores/stubs/inventory.js
`currency_code: 'EUR',`
to
`currency_code: 'USD',`
this change throws this error when attempting to submit forms with curr

[2020-04-03 15:43] Penguinjanator commented on #103
also using v1.6 of Tania because 1.7 and up did not build on windows for me.

[2020-04-04 00:38] #103 closed

[2020-04-05 01:26] bepitulaz commented on #103
Hi @Penguinjanator,

Do you still have the issue with this one?

[2020-04-06 18:19] netixx opened #104 "Error while building application"
Hello,

I have an error while building the application (npm):

This error in particular seems to repeat itself:
[code]

Here is the rest of the logs:
[code]

[2020-04-08 14:54] jjwedemyer commented on #68
To add to the feature, it would be even better to have numerical inputs for the polygon to be as precise as possible. In my expirience planning is done by knowing what the size of the area is (along the edges) and then possibly creating sub-areas that have certain sizes (ie beds of length x and a width y)

[2020-04-18 22:40] quintinmutton commented on #90
Hi

Tried the ARM version and it runs but the password 'tania' doesn't work.  Can you let me know what the password is and/or create a updated version for 1.7.2?

Thanks

[2020-04-24 20:06] Guigouu commented on #104
Same here

[2020-04-24 20:50] Guigouu commented on #104
# Fixed:
Miss match between vue-template-compiler and vue
`npm install vue-template-compiler@2.6.11 --save-dev`
`npm install vue@2.6.11 --save-dev`
`npm run dev`
you can also build with npm install 2.6.10 if needed

[2020-04-29 00:18] #65 closed

[2020-05-24 12:45] nullinger commented on #39
👍 Docker

[2020-05-24 13:09] bepitulaz commented on #39
Hi @gucharbon, you are correct. I did want to collect the email, but now I removed that from the site since few weeks ago (not yet to move the binary back to Github anyway). Thanks for your email collection suggestion. Really appreciate it, I didn't think that way actually, but that sounds really good :)

[2020-08-16 19:40] PalmaPedro opened #110 "Change default password"
Hi

In the 'Account Settings' it is not possible to change the default password. Also, when a user inputs the new password (before even re-typing it for confirmation) a alert message appears, saying "The password confirmation does not match" .
 ![001_tania_change_pwd](https://user-images.githubusercontent.com/47104435/90342486-f439a480-e008-11ea-96da-b66202cc7a9b.png)

[2020-09-25 07:30] wotnak commented on #104
This problem was caused by using npm and the fact that `package-lock.json` is missing from the repo. In which case npm will install newest packages versions matching ranges defined in `package.json` instead of versions verified to work and locked in `package-lock.json`.

There is however `yarn.lock` file in the repo, and when using yarn instead of npm build works fine.

Since in the readme instruc

[2020-10-02 06:16] #110 closed

[2020-10-17 06:37] bepitulaz commented on #104
@wotnak thank you. We'll use NPM then. To reduce the step to build the project. Apparently, not everybody knows how to install Yarn and NPM is the default dependency manager for Node.

[2020-10-17 07:53] #104 closed

[2020-12-01 03:48] onlyjob opened #118 "FTBFS in "npm run""
Current "master" FTBFS in `npm run dev` as follows:

[code]

[2020-12-01 03:50] onlyjob opened #119 "FTBFS in "npm install""
Current "master" FTBFS in `npm install` as follows:

[code]

`npm install --legacy-peer-deps` succeeds...

[2021-02-07 22:08] ummerland opened #120 "Running in IIS Webserver"
Hi Community

Is there a possibility to run Tania on an IIS Windows webserver? Or is it solely self-hosted?

Thanks in advance

[2021-02-26 22:33] pablojimpas commented on #119
Similar results on branch v.1.7.2
[code]

[2021-09-07 01:31] jhonatas-mendes opened #126 "Can't login default user and password"
Hi all from Brazil, I'm just started use Tania now on Debian 10 and can't login with default user and password. I used it in two different browsers, but I couldn't login and can't see the logs errors where are.
Someone to help me please?

![Tania-FarmOS](https://user-images.githubusercontent.com/50506812/132270757-d192994a-61af-4880-8943-fefb2c141e26.jpg)

[2021-09-07 10:16] bepitulaz commented on #126
Hi @jhonatas-mendes, maybe you can check this closed issue #15. Thanks.

[2021-09-07 21:58] JoevitorSantana opened #127 "Customization"
Hi guys! how can I change the colors and the text of this program? can I do it?

[2021-09-08 17:41] jhonatas-mendes commented on #126
I found these errors in the API.

![image](https://user-images.githubusercontent.com/50506812/132557670-9597a3b7-16a9-4993-9b32-e7ebc79ea87a.png)

![image](https://user-images.githubusercontent.com/50506812/132557972-9105cca9-b507-4491-9a5c-1be361960f27.png)

[2021-10-16 13:55] pablojimpas commented on #63
MQTT Server written in Go from The Things Industries: https://github.com/TheThingsIndustries/mystique

[2022-02-10 21:46] bepitulaz opened #134 "Restructure Tania monorepo"
Current monorepo is not organised well. We will separate it between front-end and the backend.

[2022-02-13 15:31] #91 closed

[2022-02-21 08:57] #134 closed, assigned to bepitulaz

[2022-02-21 09:27] bepitulaz opened #136 "Moving from Vue to React (Next.js)"
**Why do we we change?**
This project was vacuuming in development a new feature about more than a year since 2020 to 2021 due to our business turmoil. Our frontend dependencies are getting obsolete and can't be built with the new Yarn/NPM.

In the end of 2021, my co-founder and I closed our business. But, we still passionate to maintain Tania project independently because we love it. We decided t

[2022-02-21 22:33] pablojimpas commented on #136
It's always nice to see progress into avoiding dependency hells...hopefully with this new frontend implementation we can keep external dependencies to a minimum. Even tough I don't have to much faith in the JavaScript ecosystem, Next.js/React seems like a reasonable choice.

However, I think the frontend can be further developed before connecting it to the Go backend just mocking things, this will